In [1]:
import pandas as pd

In [31]:
exchange_rate_path = "exchange_rate.csv"
df = pd.read_csv(exchange_rate_path, index_col="Currency")
exchange_rate = df.to_dict()["Rate"]

In [33]:
exchange_rate["EUR"]

0.93

In [22]:
df.head()

Currency   EUR  GBP    INR
Rate      0.93  0.8  82.95

In [15]:
df.loc["GBP"]

Rate    0.8
Name: GBP, dtype: float64

In [28]:
df["GBP"] * 1000

Rate    800.0
Name: GBP, dtype: float64